{% include "header.html" %}

    <main class="page">
      <section class="about-page" style=" background: url('/static/assets/background-3.jpg');">
        <article>
          <h2>Ashok Hotel</h2>
          <br>
          <p>
            Seasonal changes, outstanding ingredients and a made-from-scratch philosophy guide Colletta's menu of house-made focaccia and pasta, antipastis, made-to-order wood-fired biryanis, and tiffins. 
            The chef curated dinner and dessert menus, pair with the well balanced spices and beverage program. 
          </p>
          <br>
          <p>
            Located at Kadapa , Ap, this casual yet polished family-style 
            Italian restaurant features 120 indoor dining seats, 60 seats outdoors on the semi-covered patio, and a 12-seat bar.
          </p>

          <br>
          
          
          <p> Ashok Hotel is a relaxed neighborhood café and hotel in the heart of the West Village. 
            We're open seven days a week until late, and we serve our full menu in the dining room .
             We appreciate your inquiry, and someone from our team will respond shortly.</p>
          <a href="/contact/" class="btn"> contact </a>
        </article>
        <!-- needs fixes -->
        <img
          src="/static/assets/pexels-omar-mahmood-106343.jpg"
          alt="Person Pouring Salt in Bow"
          class="img about-img"
        />
      </section>
      <div class="owner-box">
      <div class="owner">
      <img src="/static/assets/pic-2.png" alt="" > </div> 
      <br>
      <p class="owner-p">ASHOK KUMAR REDDY Kota</p>
    </div>
    </main>

{% include "footer.html" %}