




<!-- footer section -->
<footer class="parallax-section" style="background:url(/static/assets/footer.png) 50% 0 repeat-y fixed; -webkit-background-size: cover;
background-size: cover;
background-position: center;
color: #ffffff;
padding-top: 80px;
padding-bottom: 80px;">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
				<h2 class="heading">Contact Info.</h2>
				<div class="ph">
					<p><i class="fa fa-phone"></i> Phone</p>
					<h4>+91 8688056443</h4>
				</div>
				<div class="address">
					<p><i class="fa fa-map-marker"></i> Our Location</p>
					<h4>Manerampalli, Duvvur, Kadapa-516175</h4>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
				<h2 class="heading">Open Hours</h2>
					<p>Sunday <span>10:30 AM - 10:00 PM</span></p>
					<p>Mon-Fri <span>9:00 AM - 8:00 PM</span></p>
					<p>Saturday <span>11:30 AM - 10:00 PM</span></p>
			</div>
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
				<h2 class="heading">Follow Us</h2>
				<ul class="social-icon">
					<li><a href="https://www.linkedin.com/in/kota-ashok-reddy/" class="fa-brands fa-linkedin" data-wow-delay="0.3s"></a></li>
					<li><a href="#" class="fa-brands fa-twitter" data-wow-delay="0.6s"></a></li>
					<li><a href="https://github.com/Kota-Ashok" class="fa-brands fa-github " data-wow-delay="0.9s"></a></li>
					<li><a href="#" class="fa-brands fa-instagram" data-wow-delay="0.9s"></a></li>
					<li><a href="#" class="fa-brands fa-facebook-f" data-wow-delay="0.9s"></a></li>
          
				</ul>
			</div>
		</div>
	</div>
</footer>


<!-- copyright section -->
<section id="copyright">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				
				 
          <div class="c-content">
            <div class="f-logo"><img src="/static/assets/logo.png" alt=""></div>
          
    
            <span>Designed By <a href="https://kota-ashok.github.io/Profile-/">ASHOK REDDY</a></span>
          </div>    

			</div>
		</div>
	</div>
</section>















    <!-- BOOTSTRAP CDN LINK -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- BOOTSTRAP CDN LINK -->

