

{% include "header.html"%}

<!--assaAA-->
<article>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/assets/pexels-min-an-920570.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/assets/pexels-karolina-grabowska-5718015.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/assets/pexels-sydney-troxell-718742.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/assets/pexels-jane-doan-769969.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/assets/pexels-jonathan-borba-2983101.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/assets/pexels-andrea-davis-2829030.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</article>

<article>
<section class="menu" id="menu">
  
    <h3>Menu</h3>
    <h2>Delicious Dishes Is Here <i class="fa-solid fa-arrow-down"></i></h2>
        
  
    <div class="row" style="margin-top: 30px;">
      <div class="col-md-3 py-3 py-md-0">
        <div class="card">
          <img src="/static/assets/Espresso coffee.png" alt="">
          <div class="card-body">
            <h3>Espresso coffee</h3>
           
            
              
            
            <div class="rating">
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
            </div>
  
            <p>Rs:350 <i class="fa-solid fa-credit-card"></i></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 py-3 py-md-0">
        <div class="card">
          <img src="/static/assets/black-coffee.png" alt="">
          <div class="card-body">
            <h3>Black-coffee</h3>
          
            <div class="rating">
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
            </div>
  
            <p>Rs:220 <i class="fa-solid fa-credit-card"></i></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 py-3 py-md-0">
        <div class="card">
          <img src="/static/assets/Decaf caffee.png" alt="">
          <div class="card-body">
            <h3>Decaf caffee</h3>
           
            <div class="rating">
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
            </div>
  
            <p>Rs:150 <i class="fa-solid fa-credit-card"></i></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 py-3 py-md-0">
        <div class="card">
          <img src="/static/assets/arabica coffee.png" alt="">
          <div class="card-body">
            <h3>Arabica caffee</h3>
            
            <div class="rating">
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
            </div>
  
            <p>Rs:90 <i class="fa-solid fa-credit-card"></i></p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row" style="margin-top: 30px;">
      <div class="col-md-3 py-3 py-md-0">
        <div class="card">
          <img src="/static/assets/dosa.jpg" alt="">
          <div class="card-body">
            <h3>Dosa</h3>
            
            <div class="rating">
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
            </div>
  
            <p>Rs:70 <i class="fa-solid fa-credit-card"></i></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 py-3 py-md-0">
        <div class="card">
          <img src="/static/assets/puri.jpg" alt="">
          <div class="card-body">
            <h3>puri</h3>
            
            <div class="rating">
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
            </div>
  
            <p>Rs:50 <i class="fa-solid fa-credit-card"></i></p>
          </div>
        </div>
      </div>
      
      <div class="col-md-3 py-3 py-md-0">
        <div class="card">
          <img src="/static/assets/idli.png" alt="">
          <div class="card-body">
            <h3>Idli</h3>
            
            <div class="rating">
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
            </div>
  
            <p>Rs:60 <i class="fa-solid fa-credit-card"></i></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 py-3 py-md-0">
        <div class="card">
          <img src="/static/assets/pongal.jpg" alt="">
          <div class="card-body">
            <h3>pongal</h3>
            
            <div class="rating">
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
            </div>
  
            <p>Rs:40 <i class="fa-solid fa-credit-card"></i></p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row" style="margin-top: 30px;">
      <div class="col-md-3 py-3 py-md-0">
        <div class="card">
          <img src="/static/assets/uggani.jpg" alt="">
          <div class="card-body">
            <h3>uggani</h3>
            
            <div class="rating">
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
            </div>
  
            <p>Rs:60 <i class="fa-solid fa-credit-card"></i></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 py-3 py-md-0">
        <div class="card">
          <img src="/static/assets/mysore-bonda.jpg" alt="">
          <div class="card-body">
            <h3>mysore-bonda</h3>
            
            <div class="rating">
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
            </div>
  
            <p>Rs:30 <i class="fa-solid fa-credit-card"></i></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 py-3 py-md-0">
        <div class="card">
          <img src="/static/assets/rice.png" alt="">
          <div class="card-body">
            <h3>Rice</h3>
            
            <div class="rating">
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
            </div>
  
            <p>Rs:120 <i class="fa-solid fa-credit-card"></i></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 py-3 py-md-0">
        <div class="card">
          <img src="/static/assets/Butter-Chicken.jpg" alt="">
          <div class="card-body">
            <h3>Butter-Chicken</h3>
            
            <div class="rating">
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
            </div>
  
            <p>Rs:150 <i class="fa-solid fa-credit-card"></i></p>
          </div>
        </div>
      </div>
  
      <div class="row" style="margin-top: 30px;">
        <div class="col-md-3 py-3 py-md-0">
          <div class="card">
            <img src="/static/assets/Mangalorean_Chicken.png" alt="">
            <div class="card-body">
              <h3>M Chicken</h3>
              
              <div class="rating">
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
              </div>
    
              <p>Rs:120 <i class="fa-solid fa-credit-card"></i></p>
            </div>
          </div>
        </div>
        <div class="col-md-3 py-3 py-md-0">
          <div class="card">
            <img src="/static/assets/Tandoori-Chicken.jpg" alt="">
            <div class="card-body">
              <h3>Tandoori-Chicken</h3>
              
              <div class="rating">
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
              </div>
    
              <p>Rs:160 <i class="fa-solid fa-credit-card"></i></p>
            </div>
          </div>
        </div>
       
        
        <div class="col-md-3 py-3 py-md-0">
          <div class="card">
            <img src="/static/assets/mutton-curry.jpeg" alt="">
            <div class="card-body">
              <h3>Mutton-curry</h3>
              
              <div class="rating">
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
              </div>
    
              <p>Rs:320 <i class="fa-solid fa-credit-card"></i></p>
            </div>
          </div>
        </div>
        <div class="col-md-3 py-3 py-md-0">
          <div class="card">
            <img src="/static/assets/Pineapple_Fried_Rice.png" alt="">
            <div class="card-body">
              <h3>Frons Rice</h3>
              
              <div class="rating">
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
              </div>
    
              <p>Rs:160 <i class="fa-solid fa-credit-card"></i></p>
            </div>
          </div>
        </div>
    
    
      </div>
      <div class="row" style="margin-top: 30px;">
        <div class="col-md-3 py-3 py-md-0">
          <div class="card">
            <img src="/static/assets/Dum-biryani.png" alt="">
            <div class="card-body">
              <h3>Dum-biryani</h3>
              
              <div class="rating">
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
              </div>
    
              <p>Rs:200 <i class="fa-solid fa-credit-card"></i></p>
            </div>
          </div>
        </div>
        <div class="col-md-3 py-3 py-md-0">
          <div class="card">
            <img src="/static/assets/fry-biryani.jpeg" alt="">
            <div class="card-body">
              <h3>Fry-Biryani</h3>
              
              <div class="rating">
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
              </div>
    
              <p>Rs:180 <i class="fa-solid fa-credit-card"></i></p>
            </div>
          </div>
        </div>
        <div class="col-md-3 py-3 py-md-0">
          <div class="card">
            <img src="/static/assets/Mutton-Biryani.jpg" alt="">
            <div class="card-body">
              <h3>Mutton-Biryani</h3>
              
              <div class="rating">
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
              </div>
    
              <p>Rs:450 <i class="fa-solid fa-credit-card"></i></p>
            </div>
          </div>
        </div>
        <div class="col-md-3 py-3 py-md-0">
          <div class="card">
            <img src="/static/assets/egg-biryani.jpeg" alt="">
            <div class="card-body">
              <h3>Egg-Biryani</h3>
              
              <div class="rating">
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
              </div>
    
              <p>Rs:120 <i class="fa-solid fa-credit-card"></i></p>
            </div>
          </div>
        </div>
    
        <div class="row" style="margin-top: 30px;">
          <div class="col-md-3 py-3 py-md-0">
            <div class="card">
              <img src="/static/assets/egg-curry.jpg" alt="">
              <div class="card-body">
                <h3>Egg-Curry</h3>
                
                <div class="rating">
                  <i class="fa-solid fa-star checked"></i>
                  <i class="fa-solid fa-star checked"></i>
                  <i class="fa-solid fa-star checked"></i>
                  <i class="fa-solid fa-star checked"></i>
                  <i class="fa-solid fa-star checked"></i>
                </div>
      
                <p>Rs:80 <i class="fa-solid fa-credit-card"></i></p>
              </div>
            </div>
          </div>
          <div class="col-md-3 py-3 py-md-0">
            <div class="card">
              <img src="/static/assets/Garlic_Fried.png" alt="">
              <div class="card-body">
                <h3>Garlic Fried</h3>
               
                <div class="rating">
                  <i class="fa-solid fa-star checked"></i>
                  <i class="fa-solid fa-star checked"></i>
                  <i class="fa-solid fa-star checked"></i>
                  <i class="fa-solid fa-star checked"></i>
                  <i class="fa-solid fa-star checked"></i>
                </div>
      
                <p>Rs:100 <i class="fa-solid fa-credit-card"></i></p>
              </div>
            </div>
          </div>
         
          
          <div class="col-md-3 py-3 py-md-0">
            <div class="card">
              <img src="/static/assets/Grilled_beef_steak.png" alt="">
              <div class="card-body">
                <h3>G Beef Steak</h3>
                
                <div class="rating">
                  <i class="fa-solid fa-star checked"></i>
                  <i class="fa-solid fa-star checked"></i>
                  <i class="fa-solid fa-star checked"></i>
                  <i class="fa-solid fa-star checked"></i>
                  <i class="fa-solid fa-star checked"></i>
                </div>
      
                <p>Rs:320 <i class="fa-solid fa-credit-card"></i></p>
              </div>
            </div>
          </div>
          <div class="col-md-3 py-3 py-md-0">
            <div class="card">
              <img src="/static/assets/chicken-roll.jpeg" alt="">
              <div class="card-body">
                <h3>Chicken-roll</h3>
                
                <div class="rating">
                  <i class="fa-solid fa-star checked"></i>
                  <i class="fa-solid fa-star checked"></i>
                  <i class="fa-solid fa-star checked"></i>
                  <i class="fa-solid fa-star checked"></i>
                  <i class="fa-solid fa-star checked"></i>
                </div>
      
                <p>Rs:120 <i class="fa-solid fa-credit-card"></i></p>
              </div>
            </div>
          </div>
      
      
        </div>
    
    
      <div class="row" style="margin-top: 30px;">
        <div class="col-md-3 py-3 py-md-0">
          <div class="card">
            <img src="/static/assets/Grilled_pork_ribs.png" alt="">
            <div class="card-body">
              <h3>Pork Ribs</h3>
              
              <div class="rating">
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
              </div>
    
              <p>Rs:300 <i class="fa-solid fa-credit-card"></i></p>
            </div>
          </div>
        </div>
        <div class="col-md-3 py-3 py-md-0">
          <div class="card">
            <img src="/static/assets/crispy_fried.png" alt="">
            <div class="card-body">
              <h3>Crispy Fried</h3>
              
              <div class="rating">
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
              </div>
    
              <p>Rs:60 <i class="fa-solid fa-credit-card"></i></p>
            </div>
          </div>
        </div>
        <div class="col-md-3 py-3 py-md-0">
          <div class="card">
            <img src="/static/assets/sushi__japanese.png" alt="">
            <div class="card-body">
              <h3>Sushi Japanes</h3>
              
              <div class="rating">
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
              </div>
    
              <p>Rs:250 <i class="fa-solid fa-credit-card"></i></p>
            </div>
          </div>
        </div>
        <div class="col-md-3 py-3 py-md-0">
          <div class="card">
            <img src="/static/assets/Lyulya_kebab.png" alt="">
            <div class="card-body">
              <h3>Lyulya Kebab</h3>
              
              <div class="rating">
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
              </div>
    
              <p>Rs:250 <i class="fa-solid fa-credit-card"></i></p>
            </div>
          </div>
        </div>
    
      </div>
    
      <div class="row" style="margin-top: 30px;">
        <div class="col-md-3 py-3 py-md-0">
          <div class="card">
            <img src="/static/assets/burger.png" alt="">
            <div class="card-body">
              <h3>Burger</h3>
             
              <div class="rating">
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
              </div>
    
              <p>Rs:60 <i class="fa-solid fa-credit-card"></i></p>
            </div>
          </div>
        </div>
        <div class="col-md-3 py-3 py-md-0">
          <div class="card">
            <img src="/static/assets/french-fries.jpg" alt="">
            <div class="card-body">
              <h3>french-fries</h3>
              
              <div class="rating">
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
              </div>
    
              <p>Rs:50 <i class="fa-solid fa-credit-card"></i></p>
            </div>
          </div>
        </div>
        <div class="col-md-3 py-3 py-md-0">
          <div class="card">
            <img src="/static/assets/pizza.png" alt="">
            <div class="card-body">
              <h3>pizza</h3>
              
              <div class="rating">
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
              </div>
    
              <p>Rs:120 <i class="fa-solid fa-credit-card"></i></p>
            </div>
          </div>
        </div>
        
        <div class="col-md-3 py-3 py-md-0">
          <div class="card">
            <img src="/static/assets/fasr food.png" alt="">
            <div class="card-body">
              <h3>Fast Food</h3>
              
              <div class="rating">
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
              </div>
    
              <p>Rs:40 <i class="fa-solid fa-credit-card"></i></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
  <!-- Our Menu End -->
  
  
  
  
  
  
  <form action="/order/">
    <button type="submit" class="order-btn">Order Now</button>
  </form>
  
  
  
  
  <div class="container">
    <div class="line" style="width: 100%; height: 2px; background-color: #e53937;"></div>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
   
  
  
</body>




{% include "footer.html" %}















